Repository Lakshya2610/Findr, pull requests merged in 2020-07, with the labels that each got.

#50 Unit Tests for the Back-end Node Server
  backend/.vscode/launch.json
  backend/index.js
  backend/index.test.js
  backend/package-lock.json
  backend/package.json
  backend/test/test.js
  backend/test/testData.js
  backend/utils/DataStructures.js
  backend/utils/DatabaseManager.js
  backend/utils/Matcher.js
Labels: Backend, enhancement

#48 Internet popup
  app/App.js
  app/android/.settings/org.eclipse.buildship.core.prefs
  app/android/app/.classpath
  app/android/app/.project
  app/android/app/.settings/org.eclipse.buildship.core.prefs
  app/android/app/build.gradle
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/settings.gradle
  app/assets/icons/wifi.svg
  app/assets/styles/index.js
  app/containers/Home.js
  app/containers/LogIn.js
  app/containers/Matches.js
  app/containers/OfflinePop.js
  app/containers/Privacy.js
  app/containers/Profile.js
  app/containers/SignUp.js
  app/package-lock.json
  app/package.json
Labels: Front-end Logic, UI

#54 Chat encryption
  backend/index.js
  backend/utils/Chat.js
  backend/utils/DatabaseManager.js
  backend/utils/Matcher.js
Labels: Backend, enhancement

#52 Chat media support
  .DS_Store
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/utils/AWSPresigner.js
  backend/utils/Chat.js
Labels: Backend, enhancement

#32 Chat UI
  .DS_Store
  app/App.js
  app/android/app/build.gradle
  app/android/app/src/debug/AndroidManifest.xml
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/gradle.properties
  app/android/settings.gradle
  app/assets/data/APIConnection.js
  app/assets/icons/attach.svg
  app/assets/icons/send_icon.svg
  app/assets/images/t1.jpg
  app/components/CardItem.js
  app/components/ProfilePopup.js
  app/containers/Chat.js
  app/containers/Home.js
  app/containers/LogIn.js
  app/containers/Messages.js
  app/containers/OfflinePop.js
  app/containers/Onboarding.js
  app/containers/Privacy.js
  app/containers/Profile.js
  app/containers/SignUp.js
  app/ios/Findr.xcodeproj/project.pbxproj
  app/ios/Findr/Base.lproj/LaunchScreen.xib
  app/ios/Findr/Images.xcassets/AppIcon.appiconset/Contents.json
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13mdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13xhdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13xxhdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Contents.json
  app/ios/Findr/Images.xcassets/Contents.json
  app/package-lock.json
  app/package.json
  backend/index.js
  backend/utils/Chat.js
  launch-android.sh
  profile_cards.txt
Labels: UI

#55 Blocking reporting
  backend/index.js
  backend/test/test.js
  backend/utils/Chat.js
  backend/utils/Events.js
  backend/utils/Matcher.js
Labels: Backend, enhancement

#71 Setup CI for backend
  .github/workflows/backend.yml
  backend/package.json
Labels: Backend, enhancement

#64 implemented chunk loading for connections
  app/android/app/build.gradle
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/settings.gradle
  app/ios/Findr.xcodeproj/project.pbxproj
  app/ios/Findr/Base.lproj/LaunchScreen.xib
  app/ios/Findr/Images.xcassets/AppIcon.appiconset/Contents.json
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13mdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13xhdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Asset 13xxhdpi.png
  app/ios/Findr/Images.xcassets/Asset 13mdpi.imageset/Contents.json
  app/ios/Findr/Images.xcassets/Contents.json
  app/package-lock.json
  backend/index.js
  backend/utils/DatabaseManager.js
Labels: Backend, enhancement

#73 made new branch
  .idea/codeStyles/Projects.xml
  .idea/libraries/gradle_wrapper.xml
  .idea/libraries/gradle_wrapper2.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Findr.iml
  app/App.js
  app/android/.settings/org.eclipse.buildship.core.prefs
  app/android/app/.classpath
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/gradle.properties
  app/android/settings.gradle
  app/assets/data/APIConnection.js
  app/assets/icons/Plus.svg
  app/assets/icons/back_black.svg
  app/assets/icons/check.svg
  app/assets/icons/minus_green.svg
  app/assets/icons/pen.svg
  app/assets/icons/settings.svg
  app/assets/icons/settings_fill.svg
  app/assets/styles/index.js
  app/components/ProfileItem.js
  app/components/Tag.js
  app/components/TagClubs.js
  app/components/TagCourses.js
  app/containers/LogIn.js
  app/containers/Profile.js
  app/containers/Settings.js
  app/package-lock.json
  app/package.json
Labels: Front-end Logic, UI, dependencies

#61 Verify Front-End
  app/App.js
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/assets/icons/email.svg
  app/assets/styles/index.js
  app/containers/Privacy.js
  app/containers/Verifiy.js
Labels: Front-end Logic, UI

#75 Back-end Code Refactor
  app/assets/data/APIConnection.js
  backend/index.js
  backend/test/test.js
  backend/utils/DataStructures.js
  backend/utils/Handlers.js
Labels: Backend

#74 Chat logic fix
  app/App.js
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/assets/data/APIConnection.js
  app/containers/Chat.js
  app/containers/LogIn.js
  app/containers/Messages.js
  app/containers/SignUp.js
  app/package-lock.json
Labels: Front-end Logic

#89 Fixed updateProfilePicture route
  backend/index.js
Labels: Backend

#90 Added route to reply with supported universities
  backend/index.js
  backend/vars.js
Labels: Backend

#91 Updated verification hash generation. Updated deleteUser in Handlers.js
  backend/index.js
  backend/utils/DatabaseManager.js
  backend/utils/Handlers.js
Labels: Backend

#92 fixed the delete user bug
  backend/notes
  backend/test/test.js
  backend/utils/Matcher.js
Labels: Backend, bug

#93 Fixed email verification bug
  backend/index.js
  backend/test/test.js
Labels: Backend

#95 fixed blocked user bug
  backend/test/test.js
  backend/utils/Chat.js
  backend/utils/Matcher.js
Labels: Backend, bug

#96 Implemented messages chunk loading
  backend/index.js
  backend/utils/DatabaseManager.js
Labels: Backend, enhancement

#97 Fixed profile page not loading
  app/assets/data/APIConnection.js
Labels: Front-end Logic

#84 Onboarding logic
  .DS_Store
  app/App.js
  app/android/app/.project
  app/android/app/.settings/org.eclipse.buildship.core.prefs
  app/android/app/build.gradle
  app/android/app/src/debug/AndroidManifest.xml
  app/android/app/src/main/assets/fonts/Fontisto.ttf
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/settings.gradle
  app/assets/icons/in.svg
  app/assets/icons/info.svg
  app/assets/styles/index.js
  app/components/ChatPopup.js
  app/components/Message.js
  app/components/OtherProfileItem.js
  app/components/OtherTag.js
  app/components/OtherTagClubs.js
  app/components/OtherTagCourses.js
  app/components/ProfileItem.js
  app/components/TagClubs.js
  app/components/TagCourses.js
  app/components/TagEducation.js
  app/containers/Chat.js
  app/containers/Home.js
  app/containers/Matches.js
  app/containers/Messages.js
  app/containers/OtherProfile.js
  app/containers/Profile.js
  app/ios/Findr.xcodeproj/project.pbxproj
  app/package-lock.json
  app/package.json
Labels: Front-end Logic

#110 Added check to block users from sending empty messages
  app/containers/Chat.js
Labels: Front-end Logic

#113 Update index.js
  backend/index.js
Labels: Backend

#115 Server config update for testing
  dev-server-config/main.tf
Labels: Server Infrastructure, enhancement

#119 Fixed getMatches bug
  backend/utils/Matcher.js
Labels: Backend

#117 UI changes to Home, Chat and Matches
  app/assets/styles/index.js
  app/components/CardItem.js
  app/containers/Chat.js
  app/containers/Matches.js
Labels: Beta, UI

#116 Masks and other issues
  app/assets/data/APIConnection.js
  app/assets/styles/index.js
  app/components/CardItem.js
  app/components/MatchPopup.js
  app/components/ProfilePopup.js
  app/containers/Home.js
  app/containers/Matches.js
  app/containers/SignUp.js
  app/containers/Verifiy.js
  package-lock.json
Labels: Beta

#121 added gender option for other and prefer not to say
  backend/index.js
Labels: Backend

#87 Image caching
  app/App.js
  app/android/app/build.gradle
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/gradle.properties
  app/android/settings.gradle
  app/components/CachedImage.js
  app/components/CardItem.js
  app/components/ConfirmPass.js
  app/components/Message.js
  app/containers/Home.js
  app/containers/Matches.js
  app/containers/Messages.js
  app/containers/Onboarding.js
  app/containers/Profile.js
  app/package-lock.json
  app/package.json
Labels: Front-end Logic

#122 Logout functions
  app/assets/data/APIConnection.js
  app/assets/icons/menu_bar.svg
  app/containers/Chat.js
  app/containers/Home.js
  app/containers/LogIn.js
  app/containers/Matches.js
  app/containers/Messages.js
  app/containers/Profile.js
  app/containers/Settings.js
  backend/index.js
Labels: Beta, Front-end Logic

#102 Fix upload
  app/assets/data/APIConnection.js
  app/assets/icons/back_white.svg
  app/assets/icons/placeholder_icon.svg
  app/assets/styles/index.js
  app/components/ProfileItem.js
  app/components/Tag.js
  app/components/TagClubs.js
  app/components/TagCourses.js
  app/containers/Profile.js
  app/package-lock.json
  app/package.json
Labels: Beta, Front-end Logic

#125 Fixed Image caching bug caused by update profile picture
  app/android/gradle.properties
  app/assets/data/APIConnection.js
  app/components/CachedImage.js
  app/components/CardItem.js
  app/components/OtherProfileItem.js
  app/components/ProfileItem.js
  app/containers/Home.js
  app/containers/Matches.js
  app/containers/Messages.js
  app/containers/Onboarding.js
  app/containers/OtherProfile.js
  app/containers/OtherProfile2.js
  app/containers/Profile.js
Labels: Front-end Logic

#126 Added support for checksums for profile picture
  backend/index.js
Labels: Backend

#127 Beta UI fixes
  app/android/gradle.properties
  app/assets/styles/index.js
  app/components/CachedImage.js
  app/components/MatchPopup.js
  app/components/ProfileItem.js
  app/containers/Chat.js
  app/containers/Home.js
  app/containers/Matches.js
  app/containers/Profile.js
  app/package-lock.json
Labels: Front-end Logic, UI

#128 Backend bug fixes
  backend/LoadTesting.yml
  backend/datagenerator.py
  backend/index.js
  backend/index.test.js
  backend/test/500.csv
  backend/test/500.json
  backend/test/test.js
  backend/utils/Matcher.js
Labels: Backend

#129 updated build no to 1.0.0 (beta build)
  backend/package.json
Labels: Backend

#132 Implemented functionality for matches popup
  app/components/MatchPopup.js
  app/containers/Home.js
  app/containers/OtherProfile2.js
Labels: Front-end Logic

#133 Css issues
  app/assets/styles/index.js
  app/components/CardItem.js
  app/components/OtherProfileItem.js
  app/components/OtherTag.js
  app/components/OtherTagCourses.js
  app/components/ProfileItem.js
  app/components/Tag.js
  app/components/TagClubs.js
  app/components/TagCourses.js
  app/containers/OtherProfile.js
  app/containers/OtherProfile2.js
Labels: Beta, Front-end Logic

#134 Change icon
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Labels: Beta, Front-end Logic
