Repository Lakshya2610/Findr, pull requests merged in 2020-05, with the labels that each got.

#2 Description card size
  app/assets/styles/index.js
  app/components/CardItem.js
  app/containers/Matches.js
  app/package-lock.json
  app/package.json
Labels: UI

#5 Added backend code to handle chat
  app/App.js
  app/android/app/src/main/assets/index.android.bundle
  app/android/app/src/main/res/drawable-mdpi/assets_images_findr_white2x.png
  app/android/app/src/main/res/drawable-mdpi/node_modules_reactnativedatepicker_date_icon.png
  app/android/app/src/main/res/drawable-mdpi/node_modules_reactnativepaper_lib_module_assets_backchevron.png
  app/assets/data/Fetcher.js
  app/assets/images/Findr_logo2x.png
  app/assets/images/Findr_white2x.png
  app/assets/styles/index.js
  app/components/CardItem.js
  app/containers/Home.js
  app/containers/LogIn.js
  app/containers/Matches.js
  app/containers/Messages.js
  app/containers/Profile.js
  app/containers/SignUp.js
  app/package-lock.json
  app/package.json
  backend/index.js
  backend/test_html_files/profile-card.html
  backend/test_html_files/search.html
  backend/test_html_files/user.html
  backend/utils/AWSPresigner.js
  backend/utils/Chat.js
  backend/utils/DatabaseManager.js
  launch-android.sh
Labels: Backend

#6 Terraform Configuration for Development Server Infrastructure on AWS
  dev-server-config/.gitignore
  dev-server-config/main.tf
  dev-server-config/variables.tf
Labels: Server Infrastructure
