Repository Lakshya2610/Findr, pull requests merged in 2020-06, with the labels that each got.

#5 Updated database and Back-end to work with new database design
  backend/index.js
  backend/utils/DatabaseManager.js
Labels: Backend

#7 Updated front end logic to work with new back-end
  app/assets/data/APIConnection.js
  app/containers/Home.js
  app/containers/Profile.js
  backend/index.js
Labels: Backend, Front-end

#9 Fixed Text Overflow on Cards and Logo Scroll on Matches
  .DS_Store
  app/android/app/src/main/assets/index.android.bundle
  app/assets/styles/index.js
  app/components/CardItem.js
  app/containers/Matches.js
Labels: Front-end

#12 Updated Terraform config files to work with version 0.12
  dev-server-config/main.tf
  dev-server-config/variables.tf
  dev-server-config/versions.tf
Labels: Server Infrastructure

#13 Updated Matching Algorithm
  app/assets/data/APIConnection.js
  app/containers/LogIn.js
  app/containers/SignUp.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/utils/DatabaseManager.js
  backend/utils/Matcher.js
Labels: Backend, Front-end, enhancement

#15 GitHub Webhook Setup
  backend/index.js
Labels: Backend, Server Infrastructure, enhancement

#14 Fixed Missing GET Url in the last PR
  backend/index.js
Labels: Backend, bug

#17 Missing keywords fix
  app/components/CardItem.js
  app/containers/Home.js
  app/containers/Matches.js
  backend/index.js
  backend/utils/AWSPresigner.js
  backend/utils/Chat.js
  backend/utils/DatabaseManager.js
  backend/utils/Matcher.js
  dev-server-config/.gitignore
Labels: Front-end, bug

#33 Updated structure for connections and added support for updating graph on keyword updates
  backend/index.js
  backend/utils/DatabaseManager.js
  backend/utils/Matcher.js
Labels: Backend

#19 Onboarding
  .DS_Store
  .prettierrc
  app/App.js
  app/android/app/src/main/assets/index.android.bundle
  app/android/app/src/main/res/drawable-mdpi/assets_images_back_arrow.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_chatroom.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_icn_add.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_line.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_newicn_add.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_or_photo.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_page4.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_page_1.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_page_2.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_page_3.png
  app/android/gradle.properties
  app/assets/images/OR_photo.png
  app/assets/images/Page_1.png
  app/assets/images/Page_2.png
  app/assets/images/Page_3.png
  app/assets/images/back_arrow.png
  app/assets/images/chatRoom.png
  app/assets/images/icn_add.png
  app/assets/images/line.png
  app/assets/images/newPage1.png
  app/assets/images/newPage2.png
  app/assets/images/newPage3.png
  app/assets/images/newPage4.png
  app/assets/images/newicn_add.png
  app/assets/styles/index.js
  app/containers/Home.js
  app/containers/LogIn.js
  app/containers/Matches.js
  app/containers/Onboarding.js
  app/containers/SignUp.js
  app/ios/Findr.xcodeproj/project.pbxproj
  physical-device-deployment.sh
Labels: UI

#36 fixed update graph bug
  app/ios/Findr.xcodeproj/project.pbxproj
  backend/index.js
  backend/utils/Matcher.js
Labels: Backend

#37 Notifications
  backend/index.js
  backend/utils/Events.js
  backend/utils/Matcher.js
Labels: Backend, enhancement

#39 SVG Icon Support
  app/App.js
  app/android/app/build.gradle
  app/android/app/src/main/assets/index.android.bundle
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/app/src/main/res/drawable-mdpi/assets_images_home_g.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_home_icon.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_message.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_message_g.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_person.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_person_g.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_search.png
  app/android/app/src/main/res/drawable-mdpi/assets_images_search_g.png
  app/android/gradle.properties
  app/android/settings.gradle
  app/assets/icons/chat.svg
  app/assets/icons/chat_g.svg
  app/assets/icons/home.svg
  app/assets/icons/home_g.svg
  app/assets/icons/person.svg
  app/assets/icons/person_g.svg
  app/assets/icons/search.svg
  app/assets/icons/search_g.svg
  app/containers/Home.js
  app/ios/Findr.xcodeproj/project.pbxproj
  app/metro.config.js
  app/package-lock.json
  app/package.json
Labels: UI, enhancement

#38 added updateUserInfo
  app/ios/Findr.xcodeproj/project.pbxproj
  backend/index.js
Labels: Backend

#40 Fixed missing async keyword behind callback
  backend/index.js
Labels: Backend, bug

#20 Popup profile
  app/android/.project
  app/android/.settings/org.eclipse.buildship.core.prefs
  app/android/app/build.gradle
  app/android/app/src/main/java/com/findr/MainApplication.java
  app/android/gradle.properties
  app/android/settings.gradle
  app/assets/styles/index.js
  app/components/ProfilePopup.js
  app/containers/Matches.js
  app/ios/Findr.xcodeproj/project.pbxproj
  app/package-lock.json
  app/package.json
Labels: UI

#43 Fixed bug causing user info to not update
  backend/index.js
Labels: Backend, bug

#44 Email verification
  .DS_Store
  backend/index.js
  backend/index.test.js
  backend/package.json
  backend/utils/emailer.js
Labels: Backend, enhancement

#35 Signup login bugfixes
  .idea/workspace.xml
  app/App.js
  app/android/app/src/main/assets/index.android.bundle
  app/assets/images/or.png
  app/assets/styles/index.js
  app/components/CardItem.js
  app/containers/LogIn.js
  app/containers/Privacy.js
  app/containers/SignUp.js
  app/package-lock.json
  app/package.json
Labels: Front-end Logic, UI

#47 added updateProfilePicture
  backend/index.js
Labels: Backend
